ul
    p Consulta
    li
        span
            a(href='/recipes/') Receitas
    li
        span
            a(href='/ingredients/') Ingredientes
    li
        span
            a(href='/actions/') Ações
    li
        span
            a(href='/tags/') Tags
    hr
    p Criar
    li
        span
            a(href='/recipes/create/') Receita
    li
        span
            a(href='/ingredients/create/') Ingredientes
    li
        span
            a(href='/actions/create/') Ações
    li
        span
            a(href='/tags/create/') Tags