extend ../Layout

block content
    h1.title= title
    p Deseja deletar a ação #{action.action}?

    form.sideBySideForm(method='POST' action='')
        button.btn.btn-primary(type='submit') Confirmar

    form.sideBySideForm(method='GET' action=action.url)
        button.btn.btn-primary(type='submit') Cancelar
